@font-face {
    font-family: 'iconfont';  /* project id 196502 */
    src: url('//at.alicdn.com/t/font_yb263ik2lc8fr.eot');
    src: url('//at.alicdn.com/t/font_yb263ik2lc8fr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_yb263ik2lc8fr.woff') format('woff'),
    url('//at.alicdn.com/t/font_yb263ik2lc8fr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_yb263ik2lc8fr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}

body {
    overflow: hidden;
}
